In [27]:
import pandas as pd

In [28]:
sample = pd.read_csv("CS1198Data.csv")
sample.T[1]

ClassNumber                                                    10112
Mnemonic                                                        ANTH
Number                                                          2800
Section                                                            1
Type                                                         Lecture
Units                                                              3
Instructor1                                            Susan Palazzo
Days1                                  MoTuWeThFrSa 10:00AM - 4:00PM
Room1                                                Brooks Hall 103
MeetingDates1                                01/02/2019 - 01/12/2019
Instructor2                                                      NaN
Days2                                                            NaN
Room2                                                            NaN
MeetingDates2                                                    NaN
Instructor3                                                      NaN
Days3                                                            NaN
Room3                                                            NaN
MeetingDates3                                                    NaN
Instructor4                                                      NaN
Days4                                                            NaN
Room4                                                            NaN
MeetingDates4                                                    NaN
Title                                    Introduction to Archaeology
Topic                                                            NaN
Status                                                          Open
Enrollment                                                        14
EnrollmentLimit                                                   15
Waitlist                                                           0
Description        Topics include alternative theories of prehist...
Name: 1, dtype: object

In [29]:
sample[sample['Days2'].notnull()].T

                                                                42
ClassNumber                                                  10003
Mnemonic                                                       LAW
Number                                                        7692
Section                                                          1
Type                                                       Lecture
Units                                                            1
Instructor1                 Dean Strang,Molly Shadel,Robert Sayler
Days1                                  MoTuWeThFr 9:30AM - 12:00PM
Room1                                           Slaughter Hall 290
MeetingDates1                              01/14/2019 - 01/18/2019
Instructor2                                                  Staff
Days2                                  MoTuWeThFr 9:30AM - 12:00PM
Room2                                           Slaughter Hall 292
MeetingDates2                                                  NaN
Instructor3                                                  Staff
Days3                                  MoTuWeThFr 9:30AM - 12:00PM
Room3                                           Slaughter Hall 294
MeetingDates3                              01/14/2019 - 01/18/2019
Instructor4                                                    NaN
Days4                                                          NaN
Room4                                                          NaN
MeetingDates4                                                  NaN
Title                                              Persuasion (SC)
Topic                                                          NaN
Status                                                        Open
Enrollment                                                      22
EnrollmentLimit                                                 30
Waitlist                                                         0
Description      This short course offers a quick but intensive...

In [30]:
df = pd.read_csv('2019-20_class_timetable.csv')

In [31]:
df.T[12]

TERM                                                 2019-20 Sem 1
ACAD_CAREER                                                   UGME
COURSE CODE                                               BBMS2007
CLASS SECTION                                                   1A
START DATE                                              2019-09-02
END DATE                                                2019-10-14
MON                                                            MON
TUE                                                            NaN
WED                                                            NaN
THU                                                            NaN
FRI                                                            NaN
SAT                                                            NaN
SUN                                                            NaN
VENUE                                                        KB112
START TIME                                                   11:30
END TIME                                                     13:20
COURSE TITLE                           Essential Molecular Biology
OFFER DEPT                           School of Biomedical Sciences
INSTRUCTOR       Huang,Jiandong; Ng,Kit Ray; Wong,Choi Wah Bria...
Name: 12, dtype: object

In [32]:
import json
json.loads(sample.to_json(orient='records'))[0]

{'ClassNumber': 10108,
 'Days1': 'MoTuWeThFrSa 10:00AM - 4:00PM',
 'Days2': None,
 'Days3': None,
 'Days4': None,
 'Description': 'This is a broad introductory course covering race, language, and culture, both as intellectual concepts and as political realities. Topics include race and culture as explanations of human affairs, the relationship of language to thought, cultural diversity and cultural relativity, and cultural approaches to current crises.',
 'Enrollment': 13,
 'EnrollmentLimit': 15,
 'Instructor1': 'Jacqueline Cieslak',
 'Instructor2': None,
 'Instructor3': None,
 'Instructor4': None,
 'MeetingDates1': '01/02/2019 - 01/12/2019',
 'MeetingDates2': None,
 'MeetingDates3': None,
 'MeetingDates4': None,
 'Mnemonic': 'ANTH',
 'Number': 1010,
 'Room1': 'Bryan Hall 312',
 'Room2': None,
 'Room3': None,
 'Room4': None,
 'Section': 1,
 'Status': 'Open',
 'Title': 'Introduction to Anthropology',
 'Topic': None,
 'Type': 'Lecture',
 'Units': '3',
 'Waitlist': 0}

In [33]:
df["TERM"].unique()

array(['2019-20 Sem 1', '2019-20 Sem 2', '2019-20 Sum Sem'], dtype=object)

In [34]:
sem1_df = df[(df['TERM'] == "2019-20 Sem 1") & (df['VENUE'].notnull())]

In [35]:
df.loc[(df['COURSE CODE'] == "CAES9542") & (df['CLASS SECTION'] == "1A")]

,TERM,ACAD_CAREER,COURSE CODE,CLASS SECTION,START DATE,END DATE,MON,TUE,WED,THU,FRI,SAT,SUN,VENUE,START TIME,END TIME,COURSE TITLE,OFFER DEPT,INSTRUCTOR
1369,2019-20 Sem 1,UG,CAES9542,1A,2019-09-02,2019-09-30,MON,NaN,NaN,NaN,NaN,NaN,NaN,EH102,09:30,11:20,Technical English for Computer Science,Centre for Applied English Stu,NaN
1370,2019-20 Sem 1,UG,CAES9542,1A,2019-09-05,2019-10-10,NaN,NaN,NaN,THU,NaN,NaN,NaN,EH102,09:30,10:20,Technical English for Computer Science,Centre for Applied English Stu,NaN
1371,2019-20 Sem 1,UG,CAES9542,1A,2019-10-21,2019-11-25,MON,NaN,NaN,NaN,NaN,NaN,NaN,EH102,09:30,11:20,Technical English for Computer Science,Centre for Applied English Stu,NaN
1372,2019-20 Sem 1,UG,CAES9542,1A,2019-10-24,2019-11-28,NaN,NaN,NaN,THU,NaN,NaN,NaN,EH102,09:30,10:20,Technical English for Computer Science,Centre for Applied English Stu,NaN

In [36]:
len(sem1_df)

7177

In [37]:
import time
import numpy as np
import sys
hku_sem1_df_new = pd.DataFrame(columns=sample.columns)
data = {}
for index, row in sem1_df.iterrows():
    if len(row["COURSE CODE"]) > 8:
        continue
    if (index % 250 == 0):
        print("At " + str(index))
    try:
        class_number = int(row["COURSE CODE"][4:8])
        number = row["COURSE CODE"][4:]
        mnemonic = row["COURSE CODE"][:4]
        section = row["CLASS SECTION"]
        courseType = "Course"
        units = 6
        instructor = row["INSTRUCTOR"]
        ###
        days = ["MON","TUE","WED","THU","FRI","SAT","SUN"]
        combinedDays = ""
        for day in days:
            if not pd.isnull(row[day]):
                combinedDays += row[day][:2].title()
        startTime = time.strftime("%I:%M%p", time.strptime(row["START TIME"], "%H:%M"))
        endTime = time.strftime("%I:%M%p", time.strptime(row["END TIME"], "%H:%M"))
        ###
        days1 = '{0} {1} - {2}'.format(combinedDays, startTime, endTime)
        room1 = row["VENUE"]
        ###
        startDate = time.strftime("%m/%d/%Y", time.strptime(row["START DATE"],"%Y-%m-%d"))
        endDate = time.strftime("%m/%d/%Y", time.strptime(row["END DATE"],"%Y-%m-%d"))
        ###
        meetingDates1 = '{0} - {1}'.format(startDate, endDate)
        title = row["COURSE TITLE"]
        description = row["ACAD_CAREER"] + " - " + row["OFFER DEPT"]

        new_row = {
            'ClassNumber': class_number,
            'Days1': "",
            'Days2': "",
            'Days3': "",
            'Days4': "",
            'Description': description,
            'Enrollment': 0,
            'EnrollmentLimit': 100,
            'Instructor1': instructor,
            'Instructor2': "",
            'Instructor3': "",
            'Instructor4': "",
            'MeetingDates1': "",
            'MeetingDates2': "",
            'MeetingDates3': "",
            'MeetingDates4': "",
            'Mnemonic': mnemonic,
            'Number': number,
            'Room1': "",
            'Room2': "",
            'Room3': "",
            'Room4': "",
            'Section': section,
            'Status': 'Open',
            'Title': title,
            'Topic': "",
            'Type': "",
            'Units': '6',
            'Waitlist': 0,
            'times': {}
        }
        key = row["COURSE CODE"]+section
        if not key in data:
            data[key] = new_row
        if not days1 in data[key]['times']:   
            data[key]['times'][days1] = {'Days':days1,'MeetingDates':meetingDates1,'Room':room1}
    except Exception as e:
        continue
for key in data:
    new_row = data[key]
    times = []
    for i in data[key]["times"]:
        times.append(data[key]["times"][i])
    new_row.pop('times', None)
#     if len(times) > 4:
#         print(key)
#         print("There are more times | " + str(len(times)))
    for i in range(min(len(times),4)):
        entry = times[i]
        for attribute in entry:
            new_row[attribute+str(i+1)] = entry[attribute]
    hku_sem1_df_new = hku_sem1_df_new.append(new_row, ignore_index=True)
hku_sem1_df_new_csv = hku_sem1_df_new.replace(np.nan, '', regex=True)
export_csv = hku_sem1_df_new_csv.to_csv (r'../data/Semester Data/CS1198Data.csv', index = None, header=True)
print("Done")

At 0
At 250
At 750
At 1000
At 1250
At 1500
At 1750
At 2000
At 2250
At 2500
At 3000
At 3250
At 3500
At 3750
At 4000
At 4250
At 4500
At 4750
At 5250
At 5500
At 6000
At 7000
At 7250
At 7500
At 8250
Done